/**
* нормализация цсс, минимальная
* авторизация - общий стиль
* панель навигации -
* моделька игры -
*
**/
/*нормализация*/

/*общий стиль */

/*авторизация*/


/* панель навигации*/

.body {
    position: relative;
}

#startGameContainer {
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background: #ccc;
    z-index: 5;
}

#startGameContainer .intro {
    margin: auto;
    display: block;
}

#firstPlayer,
#secondPlayer {
    float: right
}

#secondPlayerLabel {
    margin: auto;
    width: 50px;
    display: inline-block;
    /* background: red; */
    text-align: center;
 }

.form input::-moz-placeholder,
.form input::-webkit-input-placeholder {  
    color: #ccc;  
}

.form span{
    /*background: white;*/
    font-weight: 700;
    /* padding: 0vh 0.5vh;
    margin: 0vh 0.5vh; */
    border-radius:10px;    
}

.form label {
    margin-bottom: 0;
    font-weight: 700;
}

#startGameContainer .form {
    margin: auto;
    display: block;
}

.intro {
padding: 2vh 0vh;
}

.intro .logo {
width: 100%;
margin: auto;
max-width: 78px;
}

.intro h3 {
    font-size: 2vh;
}

.intro p {
    font-size: 1vh;
}

@media screen and (min-width: 768px) {
    
    .intro .logo {
        max-width: 148px;        
    }

    .intro h3 {
        font-size: 2.3vh;
    }

    .intro p {
        font-size: 2vh;
    }
}

.intro a {
    display: inline-block;
    vertical-align: middle;
    font-size: 4vh;
    line-height: 4vh;
    font-family: 'Comic Sans';
}

@media screen and (min-width: 768px) {
    
    .intro a { 
        font-size: 4vh;     
    }
}

/* моделька игры*/

#game {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    background: #ccc;
}

#game:hover, #game:focus, #game:active  {
    /* Removing default outline only after we've added our custom one */
    background: salmon;
    outline: none;
}

.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    font-size:60px;
    text-transform: uppercase;
}

#game div {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size:60px;
}

.card {
    display: inline-flex!important;
}

.card img  {
    display:inline-block;
    vertical-align: top;
    width:100%;
    max-width:135px;
    justify-content: flex-start;
}

.card-body {
    display: inline-block;
    vertical-align: top;  
}

.card-body input {
    width: 100%;
    max-width: 30px;
    border: none;
    outline: none;
    cursor: none;
}

.scoreLabel {
    display: inline-flex;
    justify-content: center;
}

.scoreStat {
    display: inline-flex;
    justify-content: center;
}

.myRating {
    padding: .2rem 1.5rem;
}

.buttonRestart button {
    display: block;
    border: none;
    margin: auto;    
    margin-top: 3em;
    padding: 10px;
    border-radius: 15px;

}

.buttonRestart button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.mystyle {
    background: gold;
}

.myPhoto {
    display: inline-block;
    vertical-align: top;
}


.myVideoContainer {
    position: absolute;
    width: 100vw;
    height: 100%;
    height: 100vh;
    top: 0px;
    background: black;
    z-index: 10;
    left: -500%;
}

.buttonRestart a {
    margin: auto;
    display: block;
    font-size:30px;
    margin-top:100px;
    text-align: center;
    text-transform: uppercase;
}

#restartGame {
    margin-top:10px;
    vertical-align: top;
    width: 350px;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2c3e50;
    border: 0;
    border-bottom: 2px solid #22303f;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #22303f;
    box-shadow: inset 0 -2px #22303f;
}

.gameIndexBlock {
    display: block;
}

.hide {
    display: none;
}

.showBlock {
    display: block;
}

.mainContainer {
    position: relative;
}

#content video {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}