/**
* нормализация цсс, минимальная
* авторизация - общий стиль  
* панель навигации -
* моделька игры -
* 
**/
/*нормализация*/

/*общий стиль */

/*авторизация*/


/* панель навигации*/

.body {
    position: relative;
}

#startGameContainer {
  
    width: 100%;    
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background: #ccc;
    z-index: 5;
}

#startGameContainer .intro {
    margin: auto;
    display: block;
}

#startGameContainer .form {
    margin: auto;
    display: block;
}

.intro a {
    display: inline-block;
    vertical-align: middle;
    padding-top: 35%;
    font-size: 100px;
    font-family: 'Comic Sans';
}


/* моделька игры*/

#game {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    background: #ccc;
}

#game:hover, #game:focus, #game:active  {
    /* Removing default outline only after we've added our custom one */
    background: salmon;
    outline: none;
}

.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;    
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    font-size:60px;
    text-transform: uppercase; 
}

#game div {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size:60px;
}

.card {
    display: inline-flex!important;
}

.card img  {
    display:inline-block;
    vertical-align: top;
    width:100%;
    max-width:135px;
    justify-content: flex-start;
}

.card-body {
    display: inline-block;
    vertical-align: top;
    /*width: 44%;*/
}

.card-body input {
    width: 100%;
    max-width: 30px;
    border: none;
    outline: none;
    cursor: none;
}

.scoreLabel {
    display: inline-flex;
    justify-content: center;
}

.scoreStat {
    display: inline-flex;
    justify-content: center;
}

.myRating {
    padding: .2rem 1.5rem;
}

.buttonRestart button {
    margin: auto;
    display: block;
    margin-top: 3em;
}

.mystyle {
    background: gold;
   

}

.myPhoto {
    display: inline-block;
    vertical-align: top;

}


.myVideoContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background: black;
    z-index: 10;
    left: -500%;
  
  }

  .myVideoContainer {

  }
  
  #content, #adContainer {
    /* position: absolute;
    top: 0px;
    left: 0px; */
    /* width: 640px;
    height: 360px; */
  }
  
  #contentElement {
    /* width: 640px;
    height: 360px; */
    overflow: hidden;
  }
  
  #playButton {
    margin-top:10px;
    vertical-align: top;
    width: 350px;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2c3e50;
    border: 0;
    border-bottom: 2px solid #22303f;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #22303f;
    box-shadow: inset 0 -2px #22303f;
  }
  
  #gameIndex {
      /*display: none;*/
  }

  .gameIndexBlock {
    display: block;
  }

  .hide {
      display: none;
  }

  .mainContainer {
      position: relative;
  }
  #content video {
    
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
  }